@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@font-face {
    font-family: 'Dangernight';
    src: url('/fonts/Dangernight-vnZ5y.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blacknorth';
    src: url('/fonts/Blacknorthdemo-mLE25.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bushido';
    src: url('/fonts/JapaneseBrushido-ZxRK.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ryujin';
    src: url('/fonts/RyujinAttack-gxApE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kaizen';
    src: url('/fonts/JuzhoKaizen-LVR9y.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* This file is for your main application CSS */





.border-section {
    border: double 4px yellow;
}

.border-parent {
    border: solid 1px green;
}

.border-child {
    border: dashed 1px red;
}

.border-child2 {
    border: dashed 1px lightblue;
}

.trifecta-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.trifecta-center-normal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: normal;
}

.trifecta-center-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.trifecta-col-center-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.trifecta-col-normal-between {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;

}

.trifecta-col-start-between {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

}

.trifecta-col-end-between {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;

}


.h-nav {
    height: 80px;
}

.h-main {
    height: calc(100vh - 80px);
}




/* poppins */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  